* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.32rem;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: #F0F0F0;
}

.head {
  color: #919091;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  display: flex;
}

.head p {
  flex: 1;
  margin-left: 0.1rem;
}

.head p .center {
  text-align: center;
}

.head p img {
  width: 30%;
  margin: 0.1rem 0.1rem;
}

.banner {
  width: 100%;
  height: 10rem;
  box-sizing: border-box;
  padding-top: 0.8rem;
  position: relative;
}

.banner .page-icon {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  top: 0;
  left: 0;
  display: flex;
}

.banner .page-icon .swiper-pagination-bullet {
  flex: 1;
  font-size: 0.34rem;
  color: #919091;
  z-index: 999;
  background: none;
  opacity: 1;
  border-radius: none;
  width: 100%;
  height: 0.75rem;
}

.banner .swiper-pagination-bullet-active {
  border-bottom: 0.05rem solid #ccc;
}

.banner ul li {
  width: 100%;
  height: 6rem;
}

.footer {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
}

.footer h1 {
  text-align: center;
}
